* {
  font-family: "JetBrains Mono";
  font-size: 12px;
  color: #ffffff;
}

window#waybar {
  background: #000000;
}

#workspaces,
#clock,
#cpu,
#memory,
#network {
  padding: 0 10px;
}

#workspaces button {
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 0 2px;
    margin: 0 2px;
}

#workspaces button.active {
    color: #000000;
    background: #ffffff;
    border-radius: 2px;
}
